.w {
    width: 1289px;
    margin: auto;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?7kkyc2');
    src:  url('../fonts/icomoon.eot?7kkyc2#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?7kkyc2') format('truetype'),
    url('../fonts/icomoon.woff?7kkyc2') format('woff'),
    url('../fonts/icomoon.svg?7kkyc2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
.head {
    width: 100%;
    height: 50px;
    text-align: center;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
}
.x_head {
    width: 1000px;
    margin: 0 auto;
}
.x_logo {
    display: inline-block;
    width: 72px;
    height: 25px;
    margin-right: 60px;
    margin: 12px 60px 13px 0;
}
.navigation_bar a {
    display: inline-block;
    width: 110px;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
}
.x_about {
    position: relative;
    display: inline-block;
    font-size: 14px;
    width: 110px;
    height: 50px;
    line-height: 50px;
    cursor: pointer;
}
.about_x:before {
    content: '';
    width: 8px;
    height: 8px;
    display: block;
    border: 1px solid #eee;
    margin-top: -5px;
    margin-left: 50px;
    /* 45度角 */
    transform: rotate(-45deg);
    background: #fff;
    border-left: none;
    border-bottom: none;
}
.about_x {
    position: absolute;
    top: 60px;
    left: 0;
    width: 110px;
    height: 129px;
    background: #fff;
    border: 1px solid #eee;
    color: #000;
    border-radius: 4px;
}
.about_x .public {
    width: 88px;
    height: 30px;
    display: block;
    line-height: 30px;
    margin-left: 10px;
    margin-top: 8px;
    font-size: 16px;
    color: #555;
    border-radius: 5px;
}
.x_show{
    width: 1440px;
    margin: 50px auto 0 auto;
}
.x_show img {
    width: 100%;
    height: 380px;
}
.introduce {
    width: 940px;
    text-align: center;
    margin: 60px auto 0 auto;
    overflow: hidden;
    padding-bottom: 60px;
}
.introduce h2 {
    height: 51px;
    font-size: 36px;
    font-weight: 600;
    margin: 30px 0 ;
}
.brief {
    height: 80px;
    font-size: 16px;
    color: #555;
}
.brief p {
    margin: 10px 0 ;
}
.x_belief {
    margin: 40px 0 0 0;
}
.x_belief p {
    float: left;
    width: 313px;
    height: 147px;
}
.imgs {
    height: 80px;
    width: 80px;
}
.x_span {
    font-size: 20px;
    font-weight: 600;
    color: #333;
    display: block;
    margin: 10px 0 0 0;
}
.x_spanp {
    font-size: 14px;
    color: #555;
    display: block;
    margin: 5px 0 0 0;
}
.x_centre {
    background-color: #fbfbfb;
}
.history {
    width: 940px;
    text-align: left;
    margin: 50px auto 0 auto;
    overflow: hidden;
    padding-bottom: 80px;
}
.history h2 {
    font-size: 36px;
    text-align: center;
    margin: 100px 0 0 0;
}
.list {
    width: 428px;
}
.ago {
    width: 450px;
    height: 450px;
}
.ago img {
    height: 100%;
    width: 100%;
}
.x_item {
    height: 61px;
    margin: 10px 0 0 0;
    color: #999;
}
.circulation {
    color: #000;
}
.year {
    font-size: 26px;
    font-weight: 500;
    width: 58px;
    vertical-align: top;
    display: inline-block;
    margin-top: -16px;
}
.animation {
    display: inline-block;
    margin: 0 0 0 30px;
}
.dot {
    width: 4px;
    height: 4px;
    background: #d5d5d5;
    border-radius: 50%;
    display: block;
}
.red {
    background-color: red;
}
.line {
    width: 1px;
    height: 40px;
    display: block;
    background-color: #ccc;
    margin: 12px auto 0 auto;
}
.bar {
    display: block;
    height: 0px;
    width: 100%;
    background-color: red;
}
.roll {
    font-size: 14px;
    font-weight: 500;
    width: 254px;
    display: inline-block;
    margin-left: 30px;
    vertical-align: middle;
    margin-top: -100px;
}
.company {
    margin: 0 auto;
    text-align: center;
    padding: 0 30px 30px 30px;
}
.company h2 {
    font-size: 36px;
    font-weight: 600;
    margin: 100px 0 50px 0;
}
.png_lobby {
    width: 61.57%;
    float: left;
}
.png_bar {
    width: 36.8%;
    float: right;
}
.png_work {
    float: right;
    width: 36.8%;
    margin-top: 1.63%;
}
.png_rest {
    float: left;
    margin-top: 1.63%;
    width: 29.86%;
}
.png_front {
    margin-top: 1.63%;
    width: 29.86%;
}
.bottom {
    width: 100%;
    height: 356px;
    background: #39393b;
}
.lin {
    overflow: hidden;
    padding: 50px 0;
    border-bottom: 1px solid rgba(216,216,216,0.2);
}
.inner {
    width: 940px;
    margin: 0 auto;
}
.logo {
    width: 214px;
    height: 87px;
    display: block;
}
.icon {
    margin-top: 20px;
    color: #fff;
}
.wechat {
    width: 22px;
    height: 22px;
    display: inline-block;
    background-color: #4d4d4f;
    padding: 2px 0 0 4px;
    border-radius: 50%;
    border: 1px solid #4d4d4f;
    position: relative;
    color: #fff;
    margin-right: 6px;
    cursor: pointer;
    
}
.vipcn {
    width: 100px;
    height: 100px;
    position: absolute;
    left: -108px;
    top: -75px;
}
.xyl_ikon {
    font-family: 'icomoon';
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-rendering: auto;
}
.weibo {
    width: 22px;
    height: 22px;
    display: inline-block;
    background-color: #4d4d4f;
    padding: 2px 0 0 5px;
    border-radius: 50%;
    border: 1px solid #4d4d4f;
    color: #fff;
    margin-right: 6px;
}
.ios {
    width: 58px;
    height: 22px;
    display: inline-block;
    background-color: #4d4d4f;
    padding: 2px 0 0 7px;
    border-radius: 17px;
    border: 1px solid #4d4d4f;
    color: #fff;
    margin-right: 6px;
}
.android {
    width: 58px;
    height: 22px;
    display: inline-block;
    background-color: #4d4d4f;
    padding: 2px 0 0 7px;
    border-radius: 17px;
    border: 1px solid #4d4d4f;
    color: #fff;
    margin-right: 6px;
}
.correlation {
    overflow: hidden;
    color: #d5d5d5;
    float: left;
    margin-left: 55px;
    display: block;
}
.x_icon {
    font-family: 'icomoon';
    font-size: 28px;
    display: inline-block;
    cursor: pointer;
    margin-right: 20px;
}
.x_tab {
    font-weight: 600;
    margin: 0 0 18px 0;
    font-size: 14px;
    text-align: center;
    display: block;
}
.xy_tab {
    color: #d5d5d5;
    text-align: center;
    display: block;
    font-size: 12px;
    margin: 0 0 7px 0;
    text-align: center;
    display: block;
}
.help {
    color: #d5d5d5;
    font-size: 12px;
    margin: 22px 0 0 0;
}
.x_info {
    text-align: center;
    margin: 5px 0 12px 0;
}
.x_info a {
    color: #d5d5d5
}
.x_jnt {
    width: 18px;
    height: 18px;
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
    margin: -3px 0 0 3px;
}
.x_gy {
    font-family: 'icomoon';
    position: fixed;
    width: 30px;
    height: 30px;
    color: #fff;
    background-color:rgba(0, 0, 0, 0.5);
    border-radius: 20%;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}
.return {
    right: 10px;
    bottom: 40px;
    
}
.x_erweima {
    right: 10px;
    bottom: 80px;
}
.bigewm {
    background: #fff;
    /* position: fixed; */
    right: 50px;
    bottom: 10px;
    width: 100px;
    height: 120px;
    position: fixed;
    box-shadow: 0 2px 4px #eee;
    border-radius: 5px;
}
.bigewm img {
    width: 86px;
    height: 86px;
    margin: 7px 7px 1px 7px;
}
.bigewm p {
    font-size: 13px;
    color: #555;
    margin: 0;
    text-align: center;
}
