.hnav {
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10010;
    -webkit-box-shadow: 0 2px 6px 0 rgba(0,0,0,0.04);
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.04);
    width: 100%;
    height: 50px;
    line-height: 50px;
}
.hlogo {
    width: 200px;
    margin-left: 120px;
}
.hlogo img {
    width: 72px;
    display: inline-block;
}
.hlinks {
    position: relative;
}
.hlinks li {
    float: left;
}
.hlinks li:hover a {
    color: black;
    font-size: 15px;
}
.hlinks li a {
    display: inline-block;
    width: 64px;
    height: 41px;
    margin-right: 62px;
}
.hmove {
    position: absolute;
    left: 0px;
    bottom: 10px;
    width: 64px;
    height: 2px;
    background-color: #FF0000;
}
.hsimg {
    margin-top: 10px;
}
.hsimg img {
    width: 100%;
    margin-top: 32px;
}
.hbox {
    text-align: center;
}
.htitle {
    font-size: 25px;
    margin: 40px 0 20px 0;
    padding-left: 15px;
    padding-right: 15px;
}
.hjob {
    padding: 13px 30px;
}
.hjob li {
    float: left;
    width: 202px;
    height: 339px;
    margin:  65px;
    padding: 13px 0;
    border: 1px solid transparent;
}
.hjob li:hover {
    border: 1px solid #FF0000;
    border-radius: 50px;
}
.hjob li p {
    color: #999;
    margin-top: 13px;
}
.hjob .htech {
    width: 120px;
    height: 120px;
}
.hjob .hh {
    width: 120px;
    height: 120px;  
    padding-left: 45px;
}
.hhide {
    display: none;
}
.hshow {
    display: 'block';
}
.hflow {
    margin-top: 20px;
    text-align: center;
}
.flow-b img {
    width: 903px;
}
.happ a {
    display: inline-block;
    width: 158px;
    border: 1px solid #979797;
    color: #333;
    font-size: 18px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 21px;
    margin-top: 22px;
}
.hknow {
    padding: 0 100px;
}
.hknow .htitle {
    text-align: center;
    margin-top: 60px;
}
.notice-item {
    width: 460px;
    padding: 30px;
    box-shadow: 0 2px 20px rgba(0,0,0,0.01);
    margin-bottom: 30px;
    background-color: #fff;
    font-size: 16px;
    border-radius: 8px;
}
.notice-line {
    margin: 8px;
}
body {
    background-color: #eee;
}  